<% users.forEach(user => { %>
 <h1>
     Welcome back
    <%= user.name.fir user.name.last %> 
 </h1>
<article>
    <div class="username">
        John D Raphenstein
    </div>
    <div class="txtPost">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
    <img src="/img/fall.jpg" class="postImg" alt="fall">
    <div class="intBar">
        <button type="button" class="btn btn-primary">Like</button>
        <button type="button" class="btn btn-primary">Repost</button>
        <button type="button" class="btn btn-primary">Reply</button>
    </div>
</article>
<article>
    <div class="username">
        Jane So-and-so
    </div>
    <div class="txtPost">"The reason that the rich were so rich, Vimes reasoned,
        was because they managed to spend less money. Take boots, for example. He earned thirty-eight dollars
        a month plus allowances. A really good pair of leather boots cost fifty dollars. But an affordable
        pair of boots, which were sort of OK for a season or two and then leaked like hell when the cardboard
        gave out, cost about ten dollars." - Guards Guards</div>
    <div class="intBar">
        <button type="button" class="btn btn-primary">Like</button>
        <button type="button" class="btn btn-primary">Repost</button>
        <button type="button" class="btn btn-primary">Reply</button>
    </div>
</article>
<% }) %>