
<div class="col-sm-12">
  <h1>Welcome!</h1>
  <p> Please check out this simple social media app. I've run into so many issues getting anything to work. Mongodb really is the worst database system.</p>
  <p>Developed by Raymond Wu</p>
</div>
