<div class="form-data">
    <form action="/users/login" method="POST">
    <label for="txtEmail" class="col-sm-2 col-form-label">Email:</label>
    <div class="col-sm-10">
        <input type="email" id="txtEmail" name="txtEmail" required class="form-control"
            placeholder="email@example.com" />
    </div>
    <label for="txtPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
        <input type="password" id="txtPassword" name="txtPassword" placeholder="Password" required
            class="form-control">
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Cancel</button>
    </div>
    <label for="cbRemember">Remember Me:</label>
    <input type="checkbox" id="cbRemember" name="cbRemember" value="remember"><br>
</form>
</div>
    <a href="/passwordRecovery">Forgot your password?</a>
        <br>
<a href="/signup">Don't have an account? Sign up here</a>
