<div class="data-form">
  <form action="/users/login" method="POST">
    <h2>Login:</h2>
    <label for="txtEmail">Email address</label>
    <input class="form-control" type="email" name="txtEmail" id="txtEmail" placeholder="Email address" required>
    <label for="txtPassword">Password</label>
    <input class="form-control" type="password" name="txtPassword" id="txtPassword" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>
</div>
