<div class="form-data">
    <form action="/users/create" method="POST" onsubmit="return validateForm()">
        <div class="form-group row">
            <div class="col-sm-3">
                <label for="txtFName" class="col-form-label">First Name:</label>
            </div>
            <div class="col-sm-9">
                <input type="text" id="txtFName" name="firstName" required class="form-control"
                    placeholder="First Name" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label for="txtLName" class="col-form-label">Last Name:</label>
            </div>
            <div class="col-sm-9">
                <input type="text" id="txtLName" name="lastName" required class="form-control"
                    placeholder="Last Name" />
            </div>
        </div>
        <div class="row form-group">
            <label for="txtUsername" class="col-sm-3 col-form-label">Username:</label>
            <div class="col-sm-9">
                <input type="text" id="txtSUsername" name="username" required class="form-control" 
                placeholder="Username">
            </div>
        </div>
        <div class="row form-group">
            <label for="emailSUser" class="col-sm-3 col-form-label">Email Address:</label>
            <div class="col-sm-9">
            <input type="email" id="emailSUser" name="email" required class="form-control"
                 placeholder="email@example.com">
            </div>
        </div>
        <div class="row form-group">
        <label for="txtSPassword" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
            <input type="password" id="txtSPassword" name="password" placeholder="Password" required
                class="form-control">
        </div>
        <div id="divPasswordError" class="invisible col-sm-5 errorMessage"></div>
        </div>
        <div class="row form-group">
            <label for="txtSPasswordMatch" class="col-sm-3 col-form-label">Confirm Password:</label>
            <div class="col-sm-9">
                <input type="password" id="txtSPasswordMatch" name="passwordMatch" placeholder="Password"
                    class="form-control" required>
            </div>
            <div id="divPassword2Error" class="invisible col-sm-5 errorMessage"></div>
        </div>

        <div class="row">
            <span class="col-sm-2 col-form-label">Gender:</span>
            <div class="col-sm-10">
                <div class="form-check">
                    <input type="radio" id="rbMale" name="gender" value="male"
                        class="form-check-input" />
                        <label for="rbMale" class="form-check-label">Male</label>

                </div>
                <div class="form-check">
                    <input type="radio" id="rbFemale" name="gender" value="female"
                        class="form-check-input" />
                        <label for="rbFemale" class="form-check-label">Female</label>

                </div>
                <div class="form-check">                        
                    <input type="radio" id="rbOther" name="gender" value="other"
                        class="form-check-input" />
                        <label for="rbOther" class="form-check-label">Other</label>

                </div>
                <div class="form-check">
                    <input type="radio" id="rbNoAnswer" name="gender" value="noAnswer"
                        class="form-check-input" />
                     <label for="rbNoAnswer" class="form-check-label">Prefer not to answer</label>

                </div>
            </div>
        </div>
        <br>
        <div class="row form-group">
            <label for="txtLoc" class="col-sm-3 col-form-label">Location:</label>
            <div class="col-sm-9">
                <input type="text" id="txtLoc" name="location" class="form-control">
            </div>
        </div>
        <div class="row form-group">
            <label for="txtDoB" class="col-sm-3 col-form-label">Date of birth:</label>
            <div class="col-sm-9">
                <input type="date" id="txtDoB" name="dob" class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <label for="dlSecQ" class="col-sm-3 col-form-label">Security Question</label>
            <div class="col-sm-9">
                <select id="dlSecQ" name="secQ" required class="form-control" onchange="return showSec()">
                    <option value="">Choose</option>
                    <option value="mMaidenName">What is your mother's maiden name?</option>
                    <option value="firstPet">What was the name of your first pet?</option>
                    <option value="highSchool">What high school did you graduate from?</option>
                    <option value="childPhone">What were the last four digits of your childhood telephone number?</option>
                </select>
            </div>
            <div class="col-sm-12">
                <input type="text" id="txtSecQ" name="txtSecQ" required class="form-control invisible">
            </div>
        </div>
        <label for="txtBio">Bio:</label><br>
        <textarea id="txtBio" name=bio></textarea><br>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
    </form>
</div>
