<h2>Posts List</h2>
<div>
    <a class="button" href="/posts/new"><span>Add Post</span></a>
</div>
<% posts.forEach(post => { %>
 <article>
     <div class="username">
        <%= post.author %>
            </div>
            <div class="txtPost">
                <%= post.text %>
            </div>
            <div>

                    <span class="button"><%= post.hashtag %></span>
            </div>
 </article>
 <% }); %>
