<article>
    <div class="username">
       <%= post.author %>
           </div>
           <div class="txtPost">
               <%= post.text %>
           </div>
           <div>
                   <span class="button"><%= post.hashtag %></span>
           </div>
</article>